<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INumberGuessService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Service/myService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_INumberGuessService" contract="INumberGuessService"
                name="WSHttpBinding_INumberGuessService">
                <identity>
                    <userPrincipalName value="JAMESKIELEYFF52\james.kieley" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>